{% extends "general_layout.html" %}
{% block content %}

<div class="display-3 text-center pb-4">
	{{ num_news }} News Found for the NPS
</div>
{% for i in range(num_news // 3) %}
<div class="row">
	<div class="col-lg-1"></div>
	{% if (i * 3) < num_news %}
	<div class="col-lg-3 ml-4 mr-4 content-section">
		<div class="content-section">
			<div class="font-weight-bold">
				{{ news_all[i * 3].get('title') }}
			</div>
			<div class="text-muted">
				{{ news_all[i * 3].get('abstract') }}
			</div>
			<div>
				<a href="{{ news_all[i * 3].get('url') }}">Read More</a>
			</div>
			<!--decide later if we want images???-->
			{% if news_all[i * 3].get('image').get('url') != "" %}
			<small class="font-weight-bold">
				{{ news_all[i * 3].get('image').get('title') }}
			</small>
			<div>
				<img src="{{ news_all[i * 3].get('image').get('url') }}" alt="{{ news_all[i * 3].get('image').get('altText') }}" width=300>
			</div>
			<div>
				<div>
					<small class="text-muted text-center">
						{{ news_all[i * 3].get('image').get('caption') }}
					</small>
				</div>
				<div>
					<small class="text-muted">
						Image Credit: {{ news_all[i * 3].get('image').get('credit') }}
					</small>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% if (i * 3 + 1) < num_news %}
	<div class="col-lg-3 ml-4 mr-4 content-section">
		{% if (i * 3 + 1) < num_news %}
		<div class="content-section">
			<div class="font-weight-bold">
				{{ news_all[i * 3 + 1].get('title') }}
			</div>
			<div class="text-muted">
				{{ news_all[i * 3 + 1].get('abstract') }}
			</div>
			<div>
				<a href="{{ news_all[i * 3 + 1].get('url') }}">Read More</a>
			</div>
			<!--decide if we need it later-->
			{% if news_all[i * 3 + 1].get('url') != "" %}
			<small class="font-weight-bold">
				{{ news_all[i * 3 + 1].get('image').get('title') }}
			</small>
			<img src="{{ news_all[i * 3 + 1].get('image').get('url') }}" alt="{{ news_all[i * 3 + 1].get('image').get('altText') }}" width=300>
			<div>
				<div>
					<small class="text-muted text-center">
						{{ news_all[i * 3 + 1].get('image').get('caption') }}
					</small>
				</div>
				<div>
					<small class="text-muted">
						Image Credit: {{ news_all[i * 3 + 1].get('image').get('credit') }}
					</small>
				</div>
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% if (i * 3 + 2) < num_news %}
	<div class="col-lg-3 ml-4 mr-4 content-section">
		{% if (i * 3 + 2) < num_news - 1 %}
		<div class="content-section">
			<div class="font-weight-bold">
				{{ news_all[i * 3 + 2].get('title') }}
			</div>
			<div class="text-muted">
				{{ news_all[i * 3 + 2].get('abstract') }}
			</div>
			<div>
				<a href="{{ news_all[i * 3 + 2].get('url') }}">Read More</a>
			</div>
			<!--decide if we need it later-->
			{% if news_all[i * 3 + 2].get('url') != "" %}
			<small class="font-weight-bold">
				{{ news_all[i * 3 + 2].get('image').get('title') }}
			</small>
			<img src="{{ news_all[i * 3 + 2].get('image').get('url') }}" alt="{{ news_all[i * 3 + 2].get('image').get('altText') }}" width=300>
			<div>
				<div>
					<small class="text-muted text-center">
						{{ news_all[i * 3 + 2].get('image').get('caption') }}
					</small>
				</div>
				<div>
					<small class="text-muted">
						Image Credit: {{ news_all[i * 3 + 2].get('image').get('credit') }}
					</small>
				</div>
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
	{% endif %}}
</div>
{% endfor %}

{% endblock content %}