<!DOCTYPE html>
<html>
<head>
	<!--bootstrap and css setup from tutorials -->
	<!-- bootstrap intro example part 2 -->
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- end 1st part of bootstrap demo -->

	<!-- main.css/CSS usage demo part 2 start -->
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css')}} ">
	<!-- end main.css demo part 2 -->

	{% if title == 'Home' %}
	<title>National Park Services Home Page</title>
	{% else %}
	<!--<title>NPS - {{ title }}</title>-->
	{% for p in park %}
	<title>{{ p.get('fullName') }}</title>
	{% endfor %}
	{% endif %}
</head>
<body>
	<!--nav bar stuff TO BE EDITED -->
	<!-- navigation bar code from Github; part 2; bootstrap start -->
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">NPS Info Kiosk</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
						<a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
						<a class="nav-item nav-link" href="{{ url_for('chosen_park', state_abb='STATE_ABB', state_full='STATE_FULL', park_name='PARK_NAME', park_code='TEMP_CODE') }}">TEMP PARK LAYOUT</a>
					</div>

					<!-- Navbar Right Side -->
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="{{ url_for('states_list') }}">Search by State</a>
						<a class="nav-item nav-link" href="{{ url_for('news') }}">News</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- end navigation bar code -->

	<!--formatting page notes-->
	<!--alerts, articles, events, and news releases FORMATTING DONE EXCEPT EVENTS-->
	<!--educational information about a selected destination, utilizing available lesson plans as well as relevant people and places associated with the location. FORMATTING DONE; NOT PEOPLE PLACES-->

	<!--alerts: @top in bright red FORMATTING DONE-->
	<!--news releases: on RH sidebar SORT OF DONE; LH BAR-->
	<!--campgrounds @park: main thingy listing it out w/ links to specific pages-->
	<!--events: after campground list; maybe will be linked-->
	<!--articles + lessons: in double column list @bottom-->
	<h1>Welcome to {{ park[0].get('fullName') }} National Park</h1>
	<div class="text-center text-danger alerts">
		<dl class="lead">
			<h2 class="text-danger">
				[ALERT HEADING TESTER]
			</h2>
			<dt class="">
				[ALERT RECENT #1]
				<dd>
					[ALERT #1 BODY]
				</dd>
			</dt>
			<dt class="">
				[ALERT RECENT #2]
				<dd>
					[ALERT #2 BODY]
				</dd>
			</dt>
			<dt class="">
				[ALERT RECENT #3]
				<dd>
					[ALERT #3 BODY]
				</dd>
			</dt>
		</dl>
	</div>

	<div class="offset-sm-2 py-2">
		<div class="row">
			<div class="col-sm-4 pb-5">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 1 - CAMPGROUNDS DATA LIST</div>
				<div class="pb-3">STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
			</div>
			<div class="col-sm-4 pb-5">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 2 - ARTICLES LIST</div>
				<div>STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
			</div>
			<div class="col-sm-4 pb-5">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 3 - EVENTS LIST</div>
				<div>STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
				<div>STUFF</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 ">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 4 - LESSONS DATA LIST</div>
			</div>
			<div class="col-sm-4">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 5 - PEOPLE LIST</div>
			</div>
			<div class="col-sm-4">
				<div class="pb-4 font-weight-bold text-capitalize lead">COL 6 - PLACES LIST</div>
			</div>
		</div>
	</div>

	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-2 h-100 py-2 d-flex align-items-center fixed-top" id="left">
				<!--temporary side bar for news-->
				<div class="row justify-content-end">
					<div class="content-section">
						<h3>News</h3>
						<p class='text-muted'>[NAME OF PARK]
							<ul class="list-group">
								<!--posts will be headlines for news stories + blurbs-->
								<li class="list-group-item list-group-item-light">Latest Posts</li>
								<li class="list-group-item list-group-item-light">Announcements</li>
								<li class="list-group-item list-group-item-light">Calendars</li>
								<li class="list-group-item list-group-item-light">etc</li>
							</ul>
						</p>
					</div>
				</div>
			</div>

			<!-- <div class="offset-sm-2 py-2">
				<p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
					raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
				Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

				<p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
					raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
				Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

				<p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
					raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
				Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

				<p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
					raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
				Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

				<p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
					raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
				Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
			</div> -->
		</div>
	</div>

	<!--rest of bootstrap demo stuff code -->
	<!-- bootstrap intro JS part -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- end 2nd part bootstrap demo -->
</body>
</html>
